* {
    margin: 0;
    padding: 0;
    outline: 0;
}
h1{
    text-align: center;
    border: 1px solid gold;
    padding: 5px;
    background: #22ffa3;
    border-radius: 5px;
}
#interpolation{
    text-align: center;
    color: rgb(255, 0, 191);
    border: 1px solid gold;
    padding: 50px;
    background: #8dff22;
    border-radius: 5px;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
}